@font-face {
    font-family: 'RetroPixel';
    src: url('../assets/fonts/ARCADECLASSIC.TTF') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'main';
    src: url('../assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.background {
    width: calc(100% - 10rem);
    height: calc(100vh - 8rem);
    margin-top: 8rem;
    background-color: #05202A;
    overflow: scroll;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.intro {
    background-color: #F5F0E6;
    border-radius: 5px;
    border: 2px solid #2C2A32;
    margin: 1.4rem 1.2rem;
    padding: 1rem;
    z-index: 0;
}

.intro-bar {
    position: relative;
    height: 2rem;
    background-color: #f08080;
    border: 2px solid #2C2A32;
    border-radius: 3px;
    box-shadow: 
        4px 4px 0px 0px #2C2A32,
        4px 4px 0px 0px #2C2A32;
}

.intro-icon-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 4px;
}

.intro-icon {
    border: 1.5px solid #2C2A32;
    background-color: #F5F0E6;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}

.skills-container {
    min-width: 20rem;
    padding-right: 1.6rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    margin-bottom: 5rem;
}

.skills-subcontainer {
    background-color: #f08080;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    width: 100%; /* Ensure the container takes full width */
    padding-top: 1rem;
    border-radius: 0px 5px 5px 5px;
    display: grid;
    grid-template-columns: repeat(3, 0.8fr); /* Create 3 equal-width columns */
    gap: 20px;
}

.skills-header {
    display: inline-block;
    background-color: #f08080;
    font-family: 'RetroPixel', sans-serif;
    font-size: 2.4rem;
    color: #faf8f4;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    border-radius: 5px 5px 0px 0px;
    margin: 0;
    border-top: 2px solid #faf8f4;
    border-right: 2px solid #faf8f4;
}

.skills-box {
    font-family: 'main';
    font-size: 0.9rem;
    background-color: #faf8f4;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    height: 3.4rem;
    text-align: center;
    width: 5.2rem;
    padding: 5px;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    box-shadow: 
        4px 4px 0px 0px #3c455d,
        6px 6px 0px 0px #3c455d;
}

.skills-box:hover {
    box-shadow: none;
    transform: translateX(2px) translateY(2px);
    cursor: pointer;
}

.link-div {
    display: flex;
    flex-direction: row;
}

.link-container {
    border-radius: 15px;
    border: 2px solid black;
    padding: 3px 11px;
    margin-right: 10px;
    background-color: #e2e3e0;
    box-shadow: 
        3px 3px 0px 0px #7c7b75,
        3px 3px 0px 0px #7c7b75;
    transition: background-color 0.3s, transform 0.3s;
}

.link-container:hover {
    background-color: #f89f9f;
    transform: scale(1.05);
}

.link-container > a {
    font-family: 'retroPixel';
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.intro-paragraph {
    font-family: 'main';
    font-size: 1.1rem;
    margin: 30px 10px;
}

.background-container2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    justify-content: space-between;
}

.download-button {
    width: 50px;
    height: 50px;
    background: none; /* Remove default background */
    border: none;     /* Remove default border */
    padding: 0;       /* Remove default padding */
    margin: 0;        /* Remove default margin */
    cursor: pointer;  /* Add a pointer cursor on hover */
    outline: none; 
    background: inherit;
}

.download-button > img {
    width: 70px;
    height: 70px;
}

.download-button {
    color: #F5F0E6;
    font-family: 'retroPixel';
}

.download-button > p:hover {
    color: #FF9E8A;
}

.resume-container {
    background-color: #F5F0E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-width: 15rem;
    margin: auto;
    min-height: 13rem;
    border: 2px solid #2C2A32;
    border-radius: 3px;
    box-shadow: 
        4px 4px 0px 0px #ffc997,
        4px 4px 0px 0px #ffc997;
}

.resume-header {
    width: 100%;
    background-color: #f08080;
    color: #faf8f4;
    font-family: 'retroPixel';
    font-size: 1.5rem;
    text-align: center;
}

.resume-header > p {
    margin: 0;
    padding: 0;
}

.download-button > p {
    color: #3c455d;
}

.download-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}