@font-face {
    font-family: 'RetroPixel';
    src: url('../assets/fonts/ARCADECLASSIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #05202A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.4rem;
    padding-bottom: 0.1rem;
    color: #EEEDE7;
    border-bottom: 0.1rem solid #EEEDE7;
    z-index: 100;
}

.home_button_container {
    margin: 0 auto;
}

.home_button {
    background-color: inherit;
    border: none;
    padding: 0;
    text-align: center;
}

.home_button > p {
    font-size: 2.3em;
    font-family: 'RetroPixel', sans-serif;
    margin: 0;
    padding: 0;
    color: #EEEDE7;
}

.home_button > p:hover {
    color: #f08080;
}

.nav_subContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.1rem;
    padding: 0;
    box-sizing: border-box;
}

.nav_button {
    position: relative;
    background-color: inherit;
    border: none;
    padding: 0.5rem 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 0;
    color: #EEEDE7;
}

.nav_button > p {
    font-family: 'RetroPixel', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_button:hover {
    color:lightcoral;
}

.nav_button::after {
    content: ''; 
    position: absolute; 
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #EEEDE7;
    transition: background-color 0.3s ease;
}

.nav_button.selected {
    background-color: #f08080; 
    color: #EEEDE7;
}